<div id="login-div">
  <%= form_for :session, url: sign_in_path, :html => {:class => "form-control", :id => "login-form"} do |f| %>
    <h3 style="text-align: center">Login</h3>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :senha %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "Entrar" %>
    </div>
    <p>Nao possiu conta? <%= link_to "Crie sua conta agora!", usuarios_new_path %></p>
  <% end %>
</div>