<h1>Histórico de buscas</h1>

<%== pagy_bootstrap_nav(@pagy) %>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Data</th>
    <th>Tipo de busca</th>
    <th>Parâmetros</th>
<!--    <th colspan="6"></th>-->
  </tr>
  </thead>

  <tbody>
  <% @historico_buscas.each do |historico_busca| %>
    <tr>
      <td><%= formatar_data_utc_brt(historico_busca.created_at) %></td>
      <td><%= historico_busca.tipo_busca %></td>
      <td><%= historico_busca.params %></td>
<!--      <td>Buscar novamente</td>-->
    </tr>
  <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
