<div class="menu-links">
  <%= link_to "Buscar por nome", form_filtrar_por_nome_path %>
  <%= link_to "Buscar por CNPJ", form_cnpj_path %>
  <%= link_to "Listar empresas por bairro", form_filtrar_por_bairro_path %>
  <%= link_to "Listar empresas por rua", form_filtrar_por_rua_path %>
  <%= link_to "Meu perfil", usuarios_show_path %>
  <%= link_to "Histórico", historico_buscas_index_path %>
</div>
